
$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";



$colors: (
  primary:    #6495ed,
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

//Top Toolbar
$toolbar-md-background: color($colors, secondary);

//Page Background
$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);

//Buttons
$button-md-background-color: color($colors, secondary);
$button-md-text-color: color($colors, light);



@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
